:root {
  --color-white: #ffffff;
  --color-cream: #f2eae2;
  --color-black: #1c232b;
  --color-grey: #6c7289;
  --color-green-500: #3d8168;
  --color-green-700: #1b4133;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "montserrat";
  font-size: 0.875rem;
  background-color: var(--color-cream);
}
@media (width >= 48rem) {
  body {
    height: 100vh;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.25rem;
  padding: 1rem 2rem;
  background-color: var(--color-green-500);
  color: var(--color-white);
  border-radius: 0.25rem;
  transition: 0.2s ease-out;
}
.btn:hover, .btn:focus {
  background-color: var(--color-green-700);
}
.btn__logo {
  width: 1.125rem;
  height: 1.125rem;
}
.btn__text {
  font-family: "montserrat";
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 110%;
}

main {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}
main .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.25rem;
}
main .card__img {
  width: 100%;
  height: 21.375rem;
  background-color: var(--color-white);
}
main .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .card__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--color-white);
  padding: 2rem;
}
main .card__content .product {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}
main .card__content .product__category {
  font-family: "montserrat";
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: 0.3125rem;
  color: var(--color-grey);
}
main .card__content .product__title {
  font-family: "fraunces";
  font-weight: bold;
  font-size: 2rem;
  line-height: 100%;
  color: var(--color-black);
}
main .card__content .product__description {
  font-family: "montserrat";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 160%;
  color: var(--color-grey);
}
main .card__content .price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main .card__content .price__current {
  font-family: "fraunces";
  font-weight: bold;
  font-size: 2rem;
  line-height: 100%;
  color: var(--color-green-500);
}
main .card__content .price__previous {
  font-family: "montserrat";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 120%;
  text-decoration: line-through;
  color: var(--color-grey);
}
@media (width >= 48rem) {
  main .card {
    flex-direction: row;
    align-items: stretch;
    max-width: 37.5rem;
  }
  main .card__img {
    height: auto;
    width: 50%;
  }
  main .card__img img {
    height: 100%;
  }
  main .card__content {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */