@use "../base/helpers" as *;
@use "../base/variables" as *;

body {
  padding-inline: rem(14);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: rem(8);
  overflow: hidden;
  &__img {
    width: 100%;
    height: rem(342);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &__content {
    background-color: $clr-White;
  }
}
