@use "./function" as *;
@use "./variables" as *;

@use "sass:map";

// ! BREAKPOINTS -----------------------------------
$breakpoints: (
  "md": rem(768),
  "lg": rem(1280),
  "xl": rem(1440),
);

@mixin breakpoint($size) {
  @media (width >= map.get($breakpoints, $size)) {
    @content;
  }
}

// ! FONTS ---------------------------------------------
@mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
  $factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
  $calc-value: unquote(
    "#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }"
  );

  font-size: $min-value; // Fallback for older browsers
  font-size: clamp(
    #{if($min-value > $max-value, $max-value, $min-value)},
    #{$calc-value},
    #{if($min-value > $max-value, $min-value, $max-value)}
  );
}

@mixin text-preset-1 {
  font-family: "fraunces";
  font-weight: bold;
  font-size: rem(32);
  line-height: 100%;
}
@mixin text-preset-2 {
  font-family: "montserrat";
  font-weight: bold;
  font-size: rem(14);
  line-height: 110%;
}
@mixin text-preset-3 {
  font-family: "montserrat";
  font-weight: 500;
  font-size: rem(14);
  line-height: 160%;
}
@mixin text-preset-4 {
  font-family: "montserrat";
  font-weight: 500;
  font-size: rem(12);
  line-height: 120%;
  letter-spacing: rem(5);
}
@mixin text-preset-5 {
  font-family: "montserrat";
  font-weight: 500;
  font-size: rem(13);
  line-height: 120%;
  text-decoration: line-through;
}
