@use "./function" as *;
// * COLORS
$clr-white: var(--color-white);
$clr-cream: var(--color-cream);
$clr-black: var(--color-black);
$clr-grey: var(--color-grey);
$clr-green-500: var(--color-green-500);
$clr-green-700: var(--color-green-700);

// * SPACING
$spc-50: rem(4);
$spc-100: rem(8);
$spc-200: rem(16);
$spc-300: rem(24);
$spc-400: rem(32);
$spc-500: rem(40);
