@use "../helper" as *;
:root {
  --color-white: #ffffff;
  --color-cream: #f2eae2;
  --color-black: #1c232b;
  --color-grey: #6c7289;
  --color-green-500: #3d8168;
  --color-green-700: #3d8168;

  // * SPACING
  --spacing-50: rem(4);
  --spacing-100: rem(8);
  --spacing-200: rem(16);
  --spacing-300: rem(24);
  --spacing-400: rem(32);
  --spacing-500: rem(40);
}
